    /* My React Footer */

    .footer {
   
        text-align: center;
       
        left:0px;
        bottom:60px;
        width: 100%;
        margin-top: 20px;
       
      
      }
      .footer .copyright {
        font-size: larger;
        color:#f1f7f750 ;
      
      }
      .footer .fab {
        margin: 100px 10px 3px 10px;
        text-align: center;
        color:#f1f7f750 ;
      
      }
      